[Desktop Entry]
Name=systemd-gtk
Comment=Browse and manage system and user units
Type=Application
Exec=systemd-gtk
Terminal=false
Categories=System;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=System;GTK;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.journeycorner.systemd-gtk
StartupNotify=true
X-Purism-FormFactor=Workstation;
